<% if @form.errors.any? %>
  <h2><%= pluralize(@form.errors.count, "error") %> prohibited this url from being saved:</h2>

  <div class="alert alert-danger">
    <% @form.errors.full_messages.each do |message| %>
      <span><%= message %></span>
    <% end %>
  </div>
<% end %>
